.modal__label {
    label {
        margin-bottom: 0;
    }

    input {
        margin-bottom: .7rem;
    }
}

.input__title {
    label {
        margin-top: .35rem;
    }
    textarea {
        width: 100%;
    }
}