.page8_main {
    background-image: url("./img/Qashqadaryo\,_Ko\'l_qishlog\'i_manzarasi.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* overflow: hidden; */
}

.page8_blur-bg {
    background-color: rgba(70 70 70 / 80%);
    filter: blur(.3px);
    padding-left: 3rem;
    width: 70%;
    height: 100%;
    padding-bottom: 5rem;
}

.page8_blur-bg h1 {
    color: white;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .5px;
    padding-top: 7rem;
}

.page8_blur-bg p {
    font-size: .95rem;
    margin-top: 2.5rem;
    font-weight: 500;
    width: 60%;
    text-align: left;
    line-height: 20px;
    letter-spacing: .2px;
}

.page8_sohil {
    margin-top: 4rem;
    transition: all .4s;
    padding-bottom: 3rem;
    border-radius: 30px;

    &:hover {
        background-color: rgba(147, 147, 147, 0.34);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    &:active {
        transform: scale(.9);
    }
}

.page8_sohil div {
    width: 100%;
    height: 400px;
    overflow: hidden;
    transition: all .5s !important;
    border-radius: 30px;

    &:hover {
        cursor: pointer;
        filter: brightness(.7);
    }
}

.page8_sohil img {
    width: 100%;
    height: 100%;
    transition: all .3s;
}

.page8_sohil h1 {
    font-size: 1.8rem;
    padding-top: 0;
    margin-top: 1rem;
    margin-left: .5rem;
    transition: all .3s !important;

    &:hover {
        color: #ffffffb8;
    }
}

.page8_sohil p {
    font-size: .9rem;
    line-height: 17px;
    font-weight: 500;
    margin-top: 0;
    margin-left: .5rem;
    width: 95%;
    transition: all .3s !important;

    &:hover {
        color: #dcdcdc
    }
}

@media (max-width: 991px) {
    .page8_sohil div {
        height: 300px;
    }
}

@media (max-width: 767px) {
    .page8_blur-bg {
        width: 100%;
    }

    .page8_blur-bg p {
        width: 90%;
    }

    .page8_sohil div {
        height: 250px;
    }

    .page8_sohil p {
        width: 100%;
    }
}

@media (max-width: 590px) {
    .page8_main {
        background-size: 150% 100%;
    }
}

@media (max-width: 470px) {
    .page8_main {
        background-size: 200% 100%;
    }

    .page8_blur-bg {
        padding-left: 0;
    }

    .page8_blur-bg h1 {
        font-size: 2.5rem;
    }

    .page8_blur-bg p {
        width: 95%;
    }

    .page8_sohil div {
        height: 200px;
    }

    .page8_sohil img {
        width: 100%;
    }

    .page8_sohil h1 {
        font-size: 1.5rem;
    }

    .page8_sohil p {
        width: 100%;
    }
}